server {
    listen 8080;
    server_name example.com example2.com;

    root /var/www/html;

    index index.html index.php index.py;

    location / {
        allow_methods GET POST;
    }

    location /upload {
        allow_methods POST;
        upload_store /tmp/uploads;
    }

    error_page 404 /404.html;
    error_page 403 /403.html;
    error_page 402 /402.html;
    error_page 401 /401html;
    error_page 400 /400.html;
    client_max_body_size 2000000000G; 
}